body {
  margin: 0;
  overflow: hidden;
  background: lightblue url(
    https://mediaarchive.cern.ch/MediaArchive/Photo/Public/2013/1308206/1308206_20/1308206_20-A4-at-144-dpi.jpg
  ) no-repeat fixed center / cover;
  user-select: none;
}

header, #logo, footer, aside {
  z-index: 100;
}

header, footer {
  position: absolute;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

#logo {
  display: block;
  position: absolute;
  width: 147px;
  height: 28.8px;
  top: 18px;
  left: 24px;
}

aside {
  position: fixed;
  height: 100%;
}

header h1 {
  padding: 10px;
  font-size: 20px;
  color: yellow;
}

footer {
  top: 100%;
  overflow: hidden;
  color: white;
  background-color: navy;
}

footer img {
  height: 12px;
  width: 12px;
}

footer a, aside a {
  color: inherit;
  text-decoration: none;
}

aside .functions {
  position: absolute;
  top: 15%;
  margin: 0;
  padding: 10px;
  color: #dfdfdf;
  display: block;
  list-style: none;
  box-sizing: border-box;
}

aside .functions .function {
  margin: 5px;
  padding: 5px;
  display: none;
}

aside .functions > .function {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}

aside .functions .function .icon {
  width: 30px;
  height: 30px;
  display: inline;
  vertical-align: middle;
}

aside .functions .function .name::before {
  content: " ";
}

aside .functions .function .name {
  height: 30px;
  display: none;
}

aside .functions .notes {
  font-size: 12px;
  display: none;
}

aside .functions:hover {
  background-color: #202020;
  height: 85%;
}

aside .functions:hover .function {
  display: block;
  width: 180px;
  overflow: hidden;
}

aside .functions:hover > .function {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

aside .functions:hover .function .name {
  display: inline;
}

aside .functions:hover .notes {
  display: block;
}

aside .functions a .function:hover {
  color: #202020;
  background-color: #dfdfdf;
}

aside .functions > .function:first-of-type {
  display: block;
}

#labels {
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  margin: 0;
  left: 0;
  top: 0;
}

#labels .label {
  font: 12px Arial;
  position: absolute;
  width: 100px;
  height: 16px;
  margin-left: -50px;
  margin-top: -8px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

#statuses {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 13px;
  font-size: 13px;
  top: 100%;
  left: 0;
  margin-top: -33px;
  margin-left: 0;
  padding: 5px;
  color: white;
}

#statuses .status {
  float: left;
  margin: 0 8px;
}

#statuses a {
  color: inherit;
}

#config {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 450px;
  margin-left: -400px;
  margin-top: -225px;
  z-index: 100;
  background: rgba(80, 192, 255, 0.9);
  border-radius: 20px;
  padding: 0 30px;
  box-sizing: border-box;
  display: none;
}

#config #close {
  float: right;
  margin-top: 15px;
  margin-right: -20px;
}

#config #close a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

#config #close a:hover {
  color: red;
}

#config #close a:active {
  color: white;
}

#config > * {
  clear: left;
}

#config > * > * {
  clear: both;
}

#config .choices {
  height: 20px;
  line-height: 20px;
  margin: 10px 0;
}

#config .choices .choice {
  margin: 0 5px;
}

#config .choices button {
  padding: 0 10px;
  margin-left: 10px;
  background: skyblue;
  border: 1px solid blue;
  border-radius: 5px;
}

#config .choices button:hover {
  border: 1px solid red;
}

#config .choices button:active {
  border: 1px solid yellow;
}

#config .color-selector, #config .size-editor {
  float: left;
  margin: 5px;
  text-align: center;
  width: 138px;
}

#config .color-selector input[type="color"], #config .size-editor input[type="text"] {
  width: 40px;
  height: 20px;
  display: inline-block;
  border: none;
  padding: 0;
  margin: 5px 0;
  box-sizing: border-box;
}

#config .color-selector input[type="color"]:hover {
  outline: 1px solid red;
}

#config .color-selector input[type="color"]:active {
  outline: 1px solid yellow;
}

#config .page-contral {
  float: right;
  padding: 0 10px;
}

#config .config-page {
  display: none;
}

#audio-background {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 100%;
  margin-top: 10px;
  margin-left: -216px;
  opacity: 0.2;
}

#audio-background:hover {
  opacity: 0.9;
}
